<div class="rghtarea">
      <div class="contentBoxArea">
        <h5> Sitemap</h5>
        <div class="breadCrumbs"> <a href="/">Home</a> &gt; Sitemap</div>
        <div class="normalContentArea">
          <p> </p>
          <ul class="bulletArea">
            <li><a href="/">Home</a></li>
            <li><a href="the-company">The Company</a></li>
            <li><a href="why-outsource-to-us">Why Outsource to Us</a></li>
            <li><a href="our-services">Our Services</a> </li>
            <li><a href="our-portfolio">Our Portfolio</a></li>
            <li><a href="testimonial">Testimonials</a></li>
            <li><a href="partner-with-us">Partner with Us</a></li>
            <li><a href="offshore-development">Outsource to India</a></li>
            <li><a href="offshore-development">Offshore Development</a></li>
            <li><a href="solutions-technologies">Solutions and Technologies</a></li>
            <li><a href="reach-us">Reach Us</a></li>
          </ul>
        </div>
      </div>
    </div>