<!DOCTYPE html >
<html>
<head>
<title>VictoryNet</title>
</head>
<body>
<div style="width:600px; -webkit-box-shadow:0 0 10px #188BD5; box-shadow: 0 0 10px #1972AB; margin:auto;">
  <div style="background:#000;color:#FFF; font-size:16px; text-align:center;padding:5px;"> New  Reach Us Added. </div>
  <div style="text-align:center; padding:5px;"><a href="http://vnt.herokuapp.com"><img border="none" src="http://vnt.herokuapp.com/images/logo.png" /></a></div>
  <table style="width:600px; text-align:center">
    <tr>
      <td>Name</td>
      <td>txtRName</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>txtREmail</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>txtRPhone</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>cmbRCountry</td>
    </tr>
    <tr>
      <td>Subject</td>
      <td>txtRSubject</td>
    </tr>
    <tr>
      <td>Message</td>
      <td>txtRMessage</td>
    </tr>
  </table>
</div>
</body>
</html>
