<!DOCTYPE html >
<html>
<head>
<title>VictoryNet</title>
</head>

<body>
<div style="width:600px; margin:auto;-webkit-box-shadow:0 0 10px #188BD5; box-shadow: 0 0 10px #1972AB;">
<div style="background:#000;color:#FFF; font-size:16px; text-align:center;padding:5px;"> 
New  Quote Added.
</div>
<div style="text-align:center; padding:5px;"><a href="http://vnt.herokuapp.com"><img border="none" src="http://vnt.herokuapp.com/images/logo.png" /></a></div>

<table style="width:600px;">
 <tr style="width:300px;">
	<td style="width:115px;padding-left:30px;">Name</td>  <td style="width:175px">qname</td>
 </tr>

 <tr>
	<td style="width:100px;padding-left:30px;">Email</td> <td>qemail</td>
 </tr>
 
 <tr>
	<td style="width:100px;padding-left:30px;">Company</td> <td>qcompany</td>
 </tr>
 
 <tr>
  <td style="width:100px;padding-left:30px;">describe your project </td> <td>qdescription</td>
 </tr>


</table>
<div style="background:#000;color:#FFF; font-size:9px; text-align:center;padding:3px;"> Copy right VictoryNet technologies </div
</div>

</body>
</html>
