<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div style="width:600px; -webkit-box-shadow:0 0 10px #188BD5;">
  <div style="background:#000;color:#FFF; font-size:16px; text-align:center;padding:5px;"> Please do not reply this email. </div>
  <div style="text-align:center; padding:5px;"><a href="http://vnt.herokuapp.com"><img border="none"  src="http://vnt.herokuapp.com/images/logo.png"/></a></div>
  <div style="text-align:center; padding:5px; color:#188BCA">Query submit successfully</div>
</div>
</body>
</html>
rrr